In [1]:
import pyterrier as pt
import pandas as pd
if not pt.started():
  pt.init()

PyTerrier 0.8.0 has loaded Terrier 5.6 (built by craigmacdonald on 2021-09-17 13:27)

In [2]:
#get the msmarco passage dataset
dataset = pt.get_dataset("msmarco_passage")

In [7]:
#retrieve
corpus = dataset.get_corpus()
index = dataset.get_index("terrier_stemmed")
topics = dataset.get_topics('test-2020')
qrels = dataset.get_qrels('test-2020')
train_topics = dataset.get_topics('train')
train_qrels = dataset.get_qrels('train')

13:30:02.843 [main] WARN org.terrier.applications.batchquerying.TRECQuery - trec.encoding is not set; resorting to platform default (windows-1252). Retrieval may be platform dependent. Recommend trec.encoding=UTF-8
13:30:02.896 [main] WARN org.terrier.applications.batchquerying.TRECQuery - trec.encoding is not set; resorting to platform default (windows-1252). Retrieval may be platform dependent. Recommend trec.encoding=UTF-8

In [8]:
test_topics

         qid                                       query
0    1030303                          who is aziz hashim
1    1037496                          who is rep scalise
2    1043135            who killed nicholas ii of russia
3    1045109                     who owns barnhart crane
4    1049519  who said no one can make you feel inferior
..       ...                                         ...
195   985594                          where is kampuchea
196    99005                 convert sq meter to sq inch
197   997622          where is the show shameless filmed
198   999466                            where is velbert
199   132622               definition of attempted arson

[200 rows x 2 columns]

In [9]:
bm25 = pt.BatchRetrieve(index, wmodel="BM25")
tf = pt.BatchRetrieve(index, wmodel="Tf")
pl2 = pt.BatchRetrieve(index, wmodel="PL2")

In [15]:
exp1 = pt.Experiment([bm25], topics, qrels, eval_metrics=["map"], save_dir="./results",perquery=True, names=["BM25 test-2020"])

c:\users\pietro\appdata\local\programs\python\python38\lib\site-packages\pyterrier\pipelines.py:108: UserWarning: 146 topic(s) not found in qrels. Scores for these topics are given as NaN and should not contribute to averages.
  warn(f'{backfill_count} topic(s) not found in qrels. Scores for these topics are given as NaN and should not contribute to averages.')

In [16]:
exp1.to_csv("./results/BM25_perquery", index = False)

In [17]:
results =  pd.read_csv("./results/BM25_perquery")

In [18]:
results

               name      qid measure     value
0    BM25 test-2020  1030303     map  0.732937
1    BM25 test-2020  1037496     map  0.509121
2    BM25 test-2020  1043135     map  0.251007
3    BM25 test-2020  1045109     map       NaN
4    BM25 test-2020  1049519     map       NaN
..              ...      ...     ...       ...
195  BM25 test-2020   978031     map       NaN
196  BM25 test-2020   985594     map       NaN
197  BM25 test-2020    99005     map       NaN
198  BM25 test-2020   997622     map  0.262550
199  BM25 test-2020   999466     map       NaN

[200 rows x 4 columns]

In [ ]:
d = pt.io.read_results("./results/BM25 test-2020.res.gz", format='trec', topics=None, dataset=None)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=400)

In [ ]:
pipeline = pt.FeaturesBatchRetrieve(index, controls = {"wmodel": "BM25"}, features=["SAMPLE", "WMODEL:TF_IDF", "WMODEL:PL2"])

In [ ]:
rf_pipe = pipeline >> pt.ltr.apply_learned_model(rf)

In [ ]:
rf_pipe.fit(train_topics, train_qrels)

In [ ]:
test_qrels

In [ ]:
pt.Experiment([bm25, pipeline], test_topics, qrels, ["map"], names=["BM25 Baseline", "LTR Baseline"])