In [1]:
import pyterrier as pt
import pandas as pd
if not pt.started():
  pt.init()

PyTerrier 0.8.0 has loaded Terrier 5.6 (built by craigmacdonald on 2021-09-17 13:27)

In [2]:
#get the msmarco passage dataset
dataset = pt.get_dataset("msmarco_passage")

In [3]:
#retrieve
corpus = dataset.get_corpus()
index = dataset.get_index("terrier_stemmed")
test_topics = dataset.get_topics('test-2020')
test_qrels = dataset.get_qrels('test-2020')
train_topics = dataset.get_topics('train')
train_qrels = dataset.get_qrels('train')

13:29:19.603 [main] WARN org.terrier.applications.batchquerying.TRECQuery - trec.encoding is not set; resorting to platform default (windows-1252). Retrieval may be platform dependent. Recommend trec.encoding=UTF-8
13:29:19.696 [main] WARN org.terrier.applications.batchquerying.TRECQuery - trec.encoding is not set; resorting to platform default (windows-1252). Retrieval may be platform dependent. Recommend trec.encoding=UTF-8

In [4]:
test_topics

         qid                                       query
0    1030303                          who is aziz hashim
1    1037496                          who is rep scalise
2    1043135            who killed nicholas ii of russia
3    1045109                     who owns barnhart crane
4    1049519  who said no one can make you feel inferior
..       ...                                         ...
195   985594                          where is kampuchea
196    99005                 convert sq meter to sq inch
197   997622          where is the show shameless filmed
198   999466                            where is velbert
199   132622               definition of attempted arson

[200 rows x 2 columns]

In [5]:
bm25 = pt.BatchRetrieve(index, wmodel="BM25")
tf = pt.BatchRetrieve(index, wmodel="Tf")
pl2 = pt.BatchRetrieve(index, wmodel="PL2")

In [6]:
exp1 = pt.Experiment([bm25], topics, qrels, eval_metrics=["map"], save_dir="./results", names=["BM25 test-2020"])

NameError: name 'topics' is not defined

In [ ]:
exp1.to_csv("./results/BM25_perquery", index = False)

In [ ]:
results =  pd.read_csv("./results/BM25_perquery")

In [ ]:
results

In [ ]:
d = pt.io.read_results("./results/BM25 test-2020.res.gz", format='trec', topics=None, dataset=None)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=400)

In [ ]:
pipeline = pt.FeaturesBatchRetrieve(index, controls = {"wmodel": "BM25"}, features=["SAMPLE", "WMODEL:TF_IDF", "WMODEL:PL2"])

In [ ]:
rf_pipe = pipeline >> pt.ltr.apply_learned_model(rf)

In [ ]:
rf_pipe.fit(train_topics, train_qrels)

In [ ]:
test_qrels

In [ ]:
pt.Experiment([bm25, pipeline], test_topics, qrels, ["map"], names=["BM25 Baseline", "LTR Baseline"])